# Carga de datos

In [1]:
import os
import pandas as pd

In [2]:
path_universal = "C:\\Users\\Miguel\\Documents\\Github\\itam-mcd"
os.listdir(path_universal)

['.git',
 'aprendizaje-automatico',
 'fundamentos-estadisticos',
 'mineria-analisis-datos',
 'optimizacion',
 'README.md']

In [3]:
path_asignatura = "aprendizaje-automatico"
path_asignatura = os.path.join(path_universal, path_asignatura)
os.listdir(path_asignatura)

['datos', 'libros']

In [4]:
#Se obtienen datasets originales
file_path = "datos\\house-prices-train.csv"

prices = pd.read_csv(os.path.join(path_asignatura, file_path))
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [9]:
file_path = "datos\\geo_neighborhoods.csv"

geom = pd.read_csv(os.path.join(path_asignatura, file_path))
geom.rename(columns={'Neighborhood':'nombre_zona'}, inplace=True)
geom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nombre_zona  27 non-null     object
 1   lat          27 non-null     float64
 2   long         27 non-null     float64
dtypes: float64(2), object(1)
memory usage: 776.0+ bytes

## Selección de variables

1. Se seleccionan las variables del curso
2. Se cambian los nombres a español

In [6]:
features = {
    'id': 'Id',
    'tipo_zona': 'MSZoning',
    'frente_lote': 'LotFrontage',
    'area_lote': 'LotArea',
    'calle': 'Street', 
    'forma_lote': 'LotShape',
    'nombre_zona': 'Neighborhood',
    'tipo_edificio': 'BldgType',
    'estilo': 'HouseStyle',
    'calidad_gral': 'OverallQual',
    'condicion_gral': 'OverallCond',
    'año_construccion': 'YearBuilt',
    'calidad_exteriores': 'ExterQual',
    'material_exteriores': 'Exterior1st',
    'condicion_exteriores': 'ExterCond',
    'calidad_sotano': 'BsmtQual',
    'condicion_sotano': 'BsmtCond',
    'tipo_sotano': 'BsmtFinType1',
    'area_sotano': 'TotalBsmtSF',
    'calefaccion': 'Heating',
    'calidad_calefaccion': 'HeatingQC',
    'aire_acondicionado': 'CentralAir',
    'area_1er_piso': '1stFlrSF',
    'area_2o_piso': '2ndFlrSF',
    'area_habitable_sup': 'GrLivArea',
    'baños_completos': 'FullBath',
    'baños_medios': 'HalfBath',
    'recamaras_sup': 'BedroomAbvGr',
    'calidad_cocina': 'KitchenQual',
    'cuartos_sup': 'TotRmsAbvGrd',
    'tipo_garage': 'GarageType',
    'terminado_garage': 'GarageFinish',
    'num_coches': 'GarageCars',
    'area_garage': 'GarageArea',
    'calidad_garage': 'GarageQual',
    'condicion_garage': 'GarageCond',
    'valor_misc': 'MiscVal',
    'año_venta': 'YrSold',
    'mes_venta': 'MoSold',
    'tipo_venta': 'SaleType',
    'condicion_venta': 'SaleCondition',
    'precio': 'SalePrice'
}

features.keys()

dict_keys(['id', 'tipo_zona', 'frente_lote', 'area_lote', 'calle', 'forma_lote', 'nombre_zona', 'tipo_edificio', 'estilo', 'calidad_gral', 'condicion_gral', 'año_construccion', 'calidad_exteriores', 'material_exteriores', 'condicion_exteriores', 'calidad_sotano', 'condicion_sotano', 'tipo_sotano', 'area_sotano', 'calefaccion', 'calidad_calefaccion', 'aire_acondicionado', 'area_1er_piso', 'area_2o_piso', 'area_habitable_sup', 'baños_completos', 'baños_medios', 'recamaras_sup', 'calidad_cocina', 'cuartos_sup', 'tipo_garage', 'terminado_garage', 'num_coches', 'area_garage', 'calidad_garage', 'condicion_garage', 'valor_misc', 'año_venta', 'mes_venta', 'tipo_venta', 'condicion_venta', 'precio'])

In [7]:
casas_f = prices[features.values()]
casas_f.set_axis(list(features.keys()), axis=1, inplace=True)
casas_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1460 non-null   int64
 1   tipo_zona             1460 non-null   object
 2   frente_lote           1201 non-null   float64
 3   area_lote             1460 non-null   int64
 4   calle                 1460 non-null   object
 5   forma_lote            1460 non-null   object
 6   nombre_zona           1460 non-null   object
 7   tipo_edificio         1460 non-null   object
 8   estilo                1460 non-null   object
 9   calidad_gral          1460 non-null   int64
 10  condicion_gral        1460 non-null   int64
 11  año_construccion      1460 non-null   int64
 12  calidad_exteriores    1460 non-null   object
 13  material_exteriores   1460 non-null   object
 14  condicion_exteriores  1460 non-null   object
 15  calidad_sotano        1423 non-null   object
 16  condicion_sotano      1423 non-null   object
 17  tipo_sotano           1423 non-null   object
 18  area_sotano           1460 non-null   int64
 19  calefaccion           1460 non-null   object
 20  calidad_calefaccion   1460 non-null   object
 21  aire_acondicionado    1460 non-null   object
 22  area_1er_piso         1460 non-null   int64
 23  area_2o_piso          1460 non-null   int64
 24  area_habitable_sup    1460 non-null   int64
 25  baños_completos       1460 non-null   int64
 26  baños_medios          1460 non-null   int64
 27  recamaras_sup         1460 non-null   int64
 28  calidad_cocina        1460 non-null   object
 29  cuartos_sup           1460 non-null   int64
 30  tipo_garage           1379 non-null   object
 31  terminado_garage      1379 non-null   object
 32  num_coches            1460 non-null   int64
 33  area_garage           1460 non-null   int64
 34  calidad_garage        1379 non-null   object
 35  condicion_garage      1379 non-null   object
 36  valor_misc            1460 non-null   int64
 37  año_venta             1460 non-null   int64
 38  mes_venta             1460 non-null   int64
 39  tipo_venta            1460 non-null   object
 40  condicion_venta       1460 non-null   object
 41  precio                1460 non-null   int64
dtypes: float64(1), int64(19), object(22)
memory usage: 479.2+ KB

Se hace un **join** por la derecha entre `casas_f` y `geom`.

Aparecerán las variables `42: lat` y `43: long` dentro del dataset de casas

In [11]:
casas_f = pd.merge(left=casas_f,
        right=geom,
        on='nombre_zona')

casas_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1460 non-null   int64
 1   tipo_zona             1460 non-null   object
 2   frente_lote           1201 non-null   float64
 3   area_lote             1460 non-null   int64
 4   calle                 1460 non-null   object
 5   forma_lote            1460 non-null   object
 6   nombre_zona           1460 non-null   object
 7   tipo_edificio         1460 non-null   object
 8   estilo                1460 non-null   object
 9   calidad_gral          1460 non-null   int64
 10  condicion_gral        1460 non-null   int64
 11  año_construccion      1460 non-null   int64
 12  calidad_exteriores    1460 non-null   object
 13  material_exteriores   1460 non-null   object
 14  condicion_exteriores  1460 non-null   object
 15  calidad_sotano        1423 non-null   object
 16  condicion_sotano      1423 non-null   object
 17  tipo_sotano           1423 non-null   object
 18  area_sotano           1460 non-null   int64
 19  calefaccion           1460 non-null   object
 20  calidad_calefaccion   1460 non-null   object
 21  aire_acondicionado    1460 non-null   object
 22  area_1er_piso         1460 non-null   int64
 23  area_2o_piso          1460 non-null   int64
 24  area_habitable_sup    1460 non-null   int64
 25  baños_completos       1460 non-null   int64
 26  baños_medios          1460 non-null   int64
 27  recamaras_sup         1460 non-null   int64
 28  calidad_cocina        1460 non-null   object
 29  cuartos_sup           1460 non-null   int64
 30  tipo_garage           1379 non-null   object
 31  terminado_garage      1379 non-null   object
 32  num_coches            1460 non-null   int64
 33  area_garage           1460 non-null   int64
 34  calidad_garage        1379 non-null   object
 35  condicion_garage      1379 non-null   object
 36  valor_misc            1460 non-null   int64
 37  año_venta             1460 non-null   int64
 38  mes_venta             1460 non-null   int64
 39  tipo_venta            1460 non-null   object
 40  condicion_venta       1460 non-null   object
 41  precio                1460 non-null   int64
 42  lat                   1460 non-null   float64
 43  long                  1460 non-null   float64
dtypes: float64(3), int64(19), object(22)
memory usage: 513.3+ KB

Se crean **variables por $m^2$ y $K USD**
* area_sotano_m2
* area_1er_piso_m2
* area_2o_piso_m2
* area_hab_m2
* area_garage_m2
* area_lote_m2
* precio_miles
* valor_misc_miles
* precio_m2_miles

In [21]:
m2 = 0.092903

#Variables por metro cuadrado
casas_f['area_sotano_m2'] = casas_f['area_sotano'] * m2
casas_f['area_1er_piso_m2'] = casas_f['area_1er_piso'] * m2
casas_f['area_2o_piso_m2'] = casas_f['area_2o_piso'] * m2
casas_f['area_hab_m2'] = casas_f['area_habitable_sup'] * m2
casas_f['area_garage_m2'] = casas_f['area_garage'] * m2
casas_f['area_lote_m2'] = casas_f['area_lote'] * m2

#Variables por miles de dolares
casas_f['precio_miles'] = casas_f['precio'] / 1_000
casas_f['valor_misc_miles'] = casas_f['valor_misc'] / 1_000
casas_f['precio_m2_miles'] = casas_f['precio_miles'] / casas_f['area_hab_m2']

casas_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1460 non-null   int64
 1   tipo_zona             1460 non-null   object
 2   frente_lote           1201 non-null   float64
 3   area_lote             1460 non-null   int64
 4   calle                 1460 non-null   object
 5   forma_lote            1460 non-null   object
 6   nombre_zona           1460 non-null   object
 7   tipo_edificio         1460 non-null   object
 8   estilo                1460 non-null   object
 9   calidad_gral          1460 non-null   int64
 10  condicion_gral        1460 non-null   int64
 11  año_construccion      1460 non-null   int64
 12  calidad_exteriores    1460 non-null   object
 13  material_exteriores   1460 non-null   object
 14  condicion_exteriores  1460 non-null   object
 15  calidad_sotano        1423 non-null   object
 16  condicion_sotano      1423 non-null   object
 17  tipo_sotano           1423 non-null   object
 18  area_sotano           1460 non-null   int64
 19  calefaccion           1460 non-null   object
 20  calidad_calefaccion   1460 non-null   object
 21  aire_acondicionado    1460 non-null   object
 22  area_1er_piso         1460 non-null   int64
 23  area_2o_piso          1460 non-null   int64
 24  area_habitable_sup    1460 non-null   int64
 25  baños_completos       1460 non-null   int64
 26  baños_medios          1460 non-null   int64
 27  recamaras_sup         1460 non-null   int64
 28  calidad_cocina        1460 non-null   object
 29  cuartos_sup           1460 non-null   int64
 30  tipo_garage           1379 non-null   object
 31  terminado_garage      1379 non-null   object
 32  num_coches            1460 non-null   int64
 33  area_garage           1460 non-null   int64
 34  calidad_garage        1379 non-null   object
 35  condicion_garage      1379 non-null   object
 36  valor_misc            1460 non-null   int64
 37  año_venta             1460 non-null   int64
 38  mes_venta             1460 non-null   int64
 39  tipo_venta            1460 non-null   object
 40  condicion_venta       1460 non-null   object
 41  precio                1460 non-null   int64
 42  lat                   1460 non-null   float64
 43  long                  1460 non-null   float64
 44  area_sotano_m2        1460 non-null   float64
 45  area_1er_piso_m2      1460 non-null   float64
 46  area_2o_piso_m2       1460 non-null   float64
 47  area_hab_m2           1460 non-null   float64
 48  area_garage_m2        1460 non-null   float64
 49  area_lote_m2          1460 non-null   float64
 50  precio_miles          1460 non-null   float64
 51  valor_misc_miles      1460 non-null   float64
 52  precio_m2_miles       1460 non-null   float64
dtypes: float64(12), int64(19), object(22)
memory usage: 615.9+ KB

Se descartan variables que no serán utilizadas

In [22]:
cols2drop = ['area_sotano',
             'area_1er_piso',
             'area_2o_piso',
             'area_habitable_sup',
             'area_garage',
             'area_lote',
             'precio',
             'valor_misc']

casas = casas_f.drop(columns=cols2drop)
casas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 45 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1460 non-null   int64
 1   tipo_zona             1460 non-null   object
 2   frente_lote           1201 non-null   float64
 3   calle                 1460 non-null   object
 4   forma_lote            1460 non-null   object
 5   nombre_zona           1460 non-null   object
 6   tipo_edificio         1460 non-null   object
 7   estilo                1460 non-null   object
 8   calidad_gral          1460 non-null   int64
 9   condicion_gral        1460 non-null   int64
 10  año_construccion      1460 non-null   int64
 11  calidad_exteriores    1460 non-null   object
 12  material_exteriores   1460 non-null   object
 13  condicion_exteriores  1460 non-null   object
 14  calidad_sotano        1423 non-null   object
 15  condicion_sotano      1423 non-null   object
 16  tipo_sotano           1423 non-null   object
 17  calefaccion           1460 non-null   object
 18  calidad_calefaccion   1460 non-null   object
 19  aire_acondicionado    1460 non-null   object
 20  baños_completos       1460 non-null   int64
 21  baños_medios          1460 non-null   int64
 22  recamaras_sup         1460 non-null   int64
 23  calidad_cocina        1460 non-null   object
 24  cuartos_sup           1460 non-null   int64
 25  tipo_garage           1379 non-null   object
 26  terminado_garage      1379 non-null   object
 27  num_coches            1460 non-null   int64
 28  calidad_garage        1379 non-null   object
 29  condicion_garage      1379 non-null   object
 30  año_venta             1460 non-null   int64
 31  mes_venta             1460 non-null   int64
 32  tipo_venta            1460 non-null   object
 33  condicion_venta       1460 non-null   object
 34  lat                   1460 non-null   float64
 35  long                  1460 non-null   float64
 36  area_sotano_m2        1460 non-null   float64
 37  area_1er_piso_m2      1460 non-null   float64
 38  area_2o_piso_m2       1460 non-null   float64
 39  area_hab_m2           1460 non-null   float64
 40  area_garage_m2        1460 non-null   float64
 41  area_lote_m2          1460 non-null   float64
 42  precio_miles          1460 non-null   float64
 43  valor_misc_miles      1460 non-null   float64
 44  precio_m2_miles       1460 non-null   float64
dtypes: float64(12), int64(11), object(22)
memory usage: 524.7+ KB

In [16]:
pd.get_dummies(data=casas_f, columns=['calidad_sotano'])

,id,tipo_zona,frente_lote,area_lote,calle,forma_lote,nombre_zona,tipo_edificio,estilo,calidad_gral,...,mes_venta,tipo_venta,condicion_venta,precio,lat,long,calidad_sotano_Ex,calidad_sotano_Fa,calidad_sotano_Gd,calidad_sotano_TA
0,1,RL,65.0,8450,Pave,Reg,CollgCr,1Fam,2Story,7,...,2,WD,Normal,208500,42.021051,-93.685643,0,0,1,0
1,3,RL,68.0,11250,Pave,IR1,CollgCr,1Fam,2Story,7,...,9,WD,Normal,223500,42.021051,-93.685643,0,0,1,0
2,14,RL,91.0,10652,Pave,IR1,CollgCr,1Fam,1Story,7,...,8,New,Partial,279500,42.021051,-93.685643,0,0,1,0
3,23,RL,75.0,9742,Pave,Reg,CollgCr,1Fam,1Story,8,...,9,WD,Normal,230000,42.021051,-93.685643,0,0,1,0
4,33,RL,85.0,11049,Pave,Reg,CollgCr,1Fam,1Story,8,...,1,WD,Normal,179900,42.021051,-93.685643,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1361,RL,51.0,9842,Pave,Reg,SWISU,1Fam,2Story,5,...,5,WD,Normal,189000,42.017578,-93.651283,0,0,0,1
1456,1377,RL,52.0,6292,Pave,Reg,SWISU,1Fam,1Story,6,...,4,WD,Normal,91000,42.017578,-93.651283,0,0,1,0
1457,1400,RL,51.0,6171,Pave,Reg,SWISU,1Fam,1.5Fin,6,...,10,WD,Normal,137450,42.017578,-93.651283,0,0,0,1
1458,600,RM,24.0,1950,Pave,Reg,Blueste,Twnhs,2Story,6,...,7,COD,Normal,151000,42.009408,-93.645543,0,0,1,0
1459,957,RM,24.0,1300,Pave,Reg,Blueste,TwnhsE,2Story,6,...,5,WD,Normal,124000,42.009408,-93.645543,0,0,1,0