# Tarea 4: Pruebas de hipótesis

Solución de los ejercicios de la sección `Pruebas de hipótesis` del libro del curos [Fundamentos Estadísticos](https://tereom.github.io/fundamentos-2022/pruebas-de-hip%C3%B3tesis.html)

# Pruebas visuales y permutación

## Pruebas de permutación
La tabla de datos `Phillies2009.csv`  contiene información de la temporada de baseball 2009 para el equipo de Philadelphia Phillies, en este ejercicio queremos comparar los strikes (`StrikeOuts`) entre los juegos en casa y de visitante.

### Carga de datos

In [1]:
import os
import pandas as pd
import numpy as plt

In [2]:
path_universal = "C:\\Users\\Miguel\\Documents\\Github\\itam-mcd"
os.listdir(path_universal)

['.git',
 'aprendizaje-automatico',
 'estadistica-computacional',
 'fundamentos-estadisticos',
 'mineria-analisis-datos',
 'optimizacion',
 'README.md']

In [3]:
path_asignatura = "fundamentos-estadisticos"
path_asignatura = os.path.join(path_universal, path_asignatura)
os.listdir(path_asignatura)

['datos', 'libros']

In [4]:
#Se obtiene dataset original
file_path = "datos\\Phillies2009.csv"
propinas = pd.read_csv(os.path.join(path_asignatura, file_path))
propinas.head(10)

     Date Location Outcome  Hits  Doubles  HomeRuns  StrikeOuts
0   5-Apr     Home    Lose     4        2         0           6
1   7-Apr     Home    Lose     6        1         0           3
2   8-Apr     Home     Win    11        3         1           6
3  10-Apr     Away    Lose     7        2         1           3
4  11-Apr     Away     Win    15        3         1           6
5  12-Apr     Away     Win    13        3         2           4
6  13-Apr     Away     Win    10        3         3           7
7  16-Apr     Away    Lose     5        1         0           3
8  17-Apr     Home    Lose    14        3         1           5
9  18-Apr     Home    Lose     8        2         3           7